
body {
  background: url('/assets/background.png');
  font-family: 'quicksandregular', Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar.navbar-inverse {
  background: url('/assets/bg-nav.png');
  border-radius: 0;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.65);
}

.navbar-inverse .navbar-brand {
  color: #EDC926;
  font-family: 'quicksandregular', sans-serif;
  font-size: 22px;
  letter-spacing: 3px;
}

.booyah-box {
  -webkit-box-shadow:1px 1px 2px 0 #d0d0d0;
  -moz-box-shadow:1px 1px 2px 0 #d0d0d0;
  box-shadow:1px 1px 2px 0 #d0d0d0;
  background:#fff;
  border:1px solid #ccc;
  border-color:#e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.booyah-box p {
  font-size: 16px;
}

.booyah-box i {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}


/*SUBMIT, EDIT, DELETE*/

.btn.btn-danger,
.btn.btn-primary {
  font-family: 'quicksandbold', Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  letter-spacing: 1px;
}

.btn.btn-primary {
  background-color: #EDC926;
  color: #373737;
  border-color: #EDC926;
}

.btn.btn-primary:hover {
  background-color: #D6B622;
  border-color: #D6B622;
}

.btn.btn-danger {
  color: #373737;
  border-color: #D9534F;
}



/*PAGINATION*/

.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa;
    display: none; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #EDC926;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }